@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}
html {
  color: #504e4e;
  background: rgba(240,230,220,0.8);
}
body {
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 22px;
}
h5,
h6 {
  font-size: 21px;
}
p {
  font-size: 16px;
}
img {
  width: 100%;
}
a,
a:link,
a:active {
  background: none;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
  text-decoration: none;
  -webkit-user-drag: none;
  color: var(--font-color);
  word-wrap: break-word;
}
a:hover {
  color: var(--hover-color);
}
#Leslie {
  font: 100 16px/1.85 "Rubik", sans-serif;
  overflow-x: hidden;
}
#Leslie .sidebar-wrap {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  width: 300px;
  height: 100%;
  transition: all 0.5s;
  background: #fff;
  font-family: 'LeslieBase';
}
#Leslie .main-wrap {
  margin-left: 300px;
  transition: all 0.5s;
  padding-top: 100px;
  transform: translate3d(0, 0, 0);
}
#Leslie .main-wrap #main {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 860px;
}
@media screen and (max-width: 1180px) {
  #Leslie .sidebar-wrap {
    width: 270px;
    opacity: 0;
left
  }
  #Leslie .main-wrap {
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    padding-top: 0;
  }
  #Leslie .main-wrap #main {
    width: 100%;
  }
  #Leslie.open-nav .sidebar-wrap {
    opacity: 1;
  }
  #Leslie.open-nav .main-wrap {
    transform: translate3d(270px, 0, 0);
  }
  #Leslie.open-nav .main-wrap #shade {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
@font-face {
  font-family: 'LeslieBase';
  src: url("../font/Comic-Sans-MS.ttf");
}
@font-face {
  font-family: 'LeslieLogo';
  src: url("../font/logo.otf");
}
@font-face {
  font-family: 'LeslieMenu';
  src: url("../font/menu.ttf");
}
.sidebar .sidebar-header {
  position: relative;
  width: 100%;
  height: 185px;
  overflow: hidden;
}
.sidebar .sidebar-header .sidebar-bg {
  display: block;
  width: 100%;
  height: 185px;
}
.sidebar .sidebar-header .author {
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-align: right;
}
.sidebar .sidebar-header .author .author-avastar {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
.sidebar .sidebar-header .author .author-name {
  color: #dcdcdc;
  font-size: 22px;
  font-family: 'LeslieLogo';
  line-height: 1em;
}
.sidebar .sidebar-menu {
  margin-top: 15px;
  font-size: 16px;
}
.sidebar .sidebar-menu .dropdown input {
  display: none;
}
.sidebar .sidebar-menu .dropdown label {
  position: relative;
}
.sidebar .sidebar-menu .dropdown label::after {
  content: '>';
  font-weight: 700;
  display: block;
  position: absolute;
  top: 12px;
  right: 30px;
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.sidebar .sidebar-menu .dropdown .dropdown-list {
  position: relative;
  opacity: 0;
  overflow: hidden;
  margin: 0 20px 0 28px;
  font-weight: 700;
  transition: all 0.5s;
  transition-timing-function: cubibezier(0.48, 0.1, 0.48, 1);
}
.sidebar .sidebar-menu .dropdown .dropdown-list .dropdown-list-item {
  position: relative;
  display: block;
  height: 0;
  z-index: 1;
  transition: height 0.5s;
}
.sidebar .sidebar-menu .dropdown .dropdown-list .dropdown-list-link {
  padding: 0;
  display: inline-block;
}
.sidebar .sidebar-menu .dropdown .dropdown-list .dropdown-list-count {
  font-size: 12px;
  margin-left: auto;
  color: #fff;
  background: #504e4e;
  padding: 2px 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 2px;
}
.sidebar .sidebar-menu .dropdown input:checked ~ label {
  background: rgba(0,0,0,0.1);
  font-size: 17px;
}
.sidebar .sidebar-menu .dropdown input:checked ~ label::after {
  transform: rotate(90deg);
}
.sidebar .sidebar-menu .dropdown input:checked ~ .dropdown-list {
  top: 0;
  margin: 10px 20px 10px 28px;
  opacity: 1;
}
.sidebar .sidebar-menu .dropdown input:checked ~ .dropdown-list .dropdown-list-item {
  height: 29.6px;
}
.sidebar .sidebar-menu a,
.sidebar .sidebar-menu label {
  display: block;
  padding: 10px 20px;
  z-index: 2;
}
.sidebar .sidebar-menu>li {
  margin: 5px 10px;
  list-style: none;
}
.sidebar .sidebar-menu>li .icon {
  margin-right: 1pc;
}
.sidebar .sidebar-menu>li>a,
.sidebar .sidebar-menu>li>label {
  border-radius: 16px;
  background: rgba(0,0,0,0);
  transition: all 0.5s;
}
.sidebar .sidebar-menu>li>a:hover,
.sidebar .sidebar-menu>li>label:hover {
  background: rgba(0,0,0,0.1);
  font-size: 17px;
}
@media screen and (max-width: 1180px) {
  .sidebar .sidebar-header {
    overflow: hidden;
  }
}
@-moz-keyframes showOpacity {
  from {
    opacity: 0;
    top: -1em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes showOpacity {
  from {
    opacity: 0;
    top: -1em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-o-keyframes showOpacity {
  from {
    opacity: 0;
    top: -1em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes showOpacity {
  from {
    opacity: 0;
    top: -1em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
#banner {
  height: 70vh;
  padding-top: 30vh;
  background-size: cover;
}
#banner .focus {
  width: 53%;
  margin: 0 auto;
}
#banner .focus .author-avastar {
  overflow: hidden;
  display: block;
  background: #f5f5f5;
  border-radius: 50%;
  margin: 0 auto;
  width: 85px;
  height: 85px;
}
#banner .focus .author-avastar img {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  padding: 5px;
  border-radius: 50%;
}
#banner .focus .author-info {
  padding: 15px;
  margin-top: 22px;
  font-family: 'LeslieBase';
  text-align: center;
  background: #fff;
  border-radius: 18px;
}
#banner .focus .author-info .author-name {
  font-size: 1.25rem;
  font-weight: 700;
}
#banner .focus .author-info .author-motto {
  font-size: 16px;
}
.posts-container {
  margin: 0 10px;
}
.posts-container .post-card {
  margin: 20px 0;
  background: #fff;
  border-radius: 18px;
  height: auto;
}
.posts-container .post-card .post-img {
  height: 220px;
  overflow: hidden;
  border-radius: 18px 18px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.posts-container .post-card .post-content {
  padding: 25px 20px 10px;
}
.posts-container .post-card .post-content .post-title {
  font-weight: 400;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
}
.posts-container .post-card .post-content .post-body {
  font-size: 14px;
}
.posts-container .post-card .post-content .post-body .continue {
  text-decoration: underline;
}
.posts-container .post-card .post-content .post-body .continue p {
  text-align: right;
  margin: 2rem 0 0 0;
}
.posts-container .post-card .post-footer {
  padding: 10px 20px 10px;
}
.posts-container .post-card .post-footer .post-author {
  display: flex;
  border-bottom: 1px solid rgba(200,200,200,0.4);
}
.posts-container .post-card .post-footer .post-author img {
  margin-right: 10px;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 4px;
  vertical-align: middle;
}
.posts-container .post-card .post-footer .post-author .author {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
}
.posts-container .post-card .post-footer .post-author .author .name {
  font-family: 'LeslieBase';
}
.posts-container .post-card .post-footer .post-author .author .date {
  font-size: 12px;
}
.posts-container .post-card .post-footer .tag-list {
  margin-top: 10px;
  list-style: none;
}
.posts-container .post-card .post-footer .tag-list .tag-list-item {
  display: inline-block;
  padding: 5px 12px;
  font-size: 12px;
  margin: 0 10px 5px 5px;
  background: rgba(200,200,200,0.2);
  border-radius: 8px;
}
.posts-container .post-card .post-footer .tag-list .tag-list-item .tag-list-link::before {
  content: '#';
  display: inline-block;
  padding-right: 8px;
}
@media screen and (max-width: 1180px) {
  #banner .focus {
    width: 85%;
  }
}
#control {
  position: fixed;
  right: 0px;
  bottom: 10vh;
  transition: right 0.5s;
}
#control>div {
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
  background: rgba(240,230,220,0.8);
  border-radius: 6px;
  filter: blur(1px);
  box-shadow: 0 0 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
}
#post {
  margin: 12px 12px;
  font-family: 'LeslieBase';
  border-radius: 18px;
  background: #fff;
  overflow: hidden;
  font-size: 16px;
}
#post .post-img {
  border-radius: 18px;
  padding: 12px;
  width: calc(100% - 24px);
}
#post #article-title a {
  display: block;
  text-align: center;
  margin: 48px 18px;
}
#page {
  margin: 12px auto;
  max-width: 640px;
  font-family: 'LeslieBase';
}
#page .page {
  margin: 12px;
  padding: 15px;
  border-radius: 18px;
  background: #fff;
}
#page ul>li {
  margin-left: 2em;
  list-style: none;
  line-height: 2.5em;
}
#page .page-title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
#page .page-title .page-search {
  font-size: 15px;
  font-weight: 700;
}
#page .content {
  margin-bottom: 20px;
}
#page .content .post-archive {
  padding: 0 10px;
}
#page .content .post-archive .post-item .date {
  font-size: 14px;
}
#page .content .post-archive .post-item .title {
  margin-left: 10px;
  font-size: 18px;
}
#page .content .year {
  font-weight: 700;
  font-size: 18px;
}
#page .content .tag-list {
  margin-top: 20px;
}
#page .content .tag-list li {
  border-radius: 10px;
  font-size: 15px;
  display: inline-block;
  margin: 8px 8px;
  padding: 0px 20px;
  background: rgba(100,100,100,0.1);
}
.page-nav {
  margin: 15px 12px;
  padding: 15px 10px;
  border-radius: 18px;
  text-align: right;
  font-weight: 700;
  background: #fff;
}
.page-nav .page-number,
.page-nav .extend {
  padding: 5px 15px;
}
.page-nav .page-number.current {
  color: #a52a2a;
}
.more {
  margin-top: 2em;
  padding: 2em 1.25em;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid rgba(200,200,200,0.4);
}
.more .prev a,
.more .next a {
  display: flex;
  justify-content: space-between;
}
.more .next {
  text-align: right;
}
.more .nav-label {
  font-size: 16px;
}
.more .nav-title {
  font-size: 14px;
  font-weight: 700;
}
